/*put in blackberry_playbook_tablet css*/
[data-device^="blackberry"] [data-page] > h1 {
	background-color: rgba(255,0,0,0.3);
}
/*all blackberrys*/
[data-device="blackberry_playbook_tablet"] [data-page] > h1 {
	padding: 100px 0;
	background-color: transparent;
}